{% extends "core/base.html" %}
{% block title %}О сайте{% endblock %}
{% block content %}
<h1>Привет!</h1>
<div class="content">
  <p>О себе я написал на главной, поэтому тут про сам сайт.</p>
  <p>Зачем очередной никому ненужный блог/сайт какого-то ноунейма? Мои причины следующие:</p>
    <ul>
      <li>
        Вспомнить html и css в ходе создания сайта.
      </li>
      <li>
        Начать больше писать, формулировать и структурировать свои мысли.
      </li>
      <li>
        Привыкнуть к vim. Практически каждая новая запись набирается в нем.
      </li>
      <li>
        Развитие английского языка. Да-да, именно английского, ты, мой несуществующий читатель, не ошибся. Каждый пост пишу в двух вариантах: на русском и английском. Без переводчиков, нейросетей и тд.
        Но, думаю, мир не готов пока видеть как я излагаю мысли на иностранном, так еще и мне лень делать свитчер eng/rus). Но однажды обязательно прикручу его. Будет забавно почитать. 
      </li>
      <li>
        Ну и раз уж я немного связан с web-разработкой, то почему бы и нет.
      </li>
    </ul>
  
  <p>То есть, сайт исключительно для решения моих собственных задач и потребностей.</p>
    

  <p>Технологии:</p>
    <ul>
      <li>
        Фронт - HTML+CSS (Bulma).
      </li>
      <li>
        Бэк - чуть менее банально: Django + aiogram. Aiogram использую чтобы постить записи с помщью своего telergam бота.
      </li>
    </ul>
</div>
{% endblock %} 