<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body class="theme-page">
    <section class="container" style="max-width: 960px">
      <header>
        <nav class="navbar container is-fixed-top navbar is-white has-text-centered"style="max-width: 960px"> <!-- style="max-width: 960px"-->
          <div id="navbarMenuHero8" class="navbar-end has-text-centered">
            <a class="navbar-item 
              {% if request.resolver_match.view_name  == 'core:index' %}
                is-active
              {% endif %}"
              href="/">
              Главная
            </a>
            <a class="navbar-item 
              {% if request.resolver_match.view_name  == 'blog:all_posts'  %}
                is-active
              {% endif %}"
              href="/blog">
              Блог <!--or 'blog:by_category' or 'blog:post_detail' когда добавля в сравнение - неорректно работает --> 
            </a>
            <a class="navbar-item 
              {% if request.resolver_match.view_name  == 'core:about' %}
                is-active
              {% endif %}"
              href="/about">
              О сайте
            </a>
          </div>
        </nav>
      
            <!-- Hero content: will be in the middle -->
          <div class="hero is-white">
            <div class="hero-body">
              <div class="container has-text-centered" style="max-width: 1150px;">
                <h1 class="title">
                  Просто мой блог.
                </h1>
                <h2 class="subtitle">
                  Личный сайт очередного ноунейма.
                </h2>
              </div>
            </div>
          </div>
      </header>
      <main> 
        {% block content %} 
            Контент не подвезли
        {%endblock%}
      </main>      
        {% include "core/includes/footer.html" %}
    </section>
  </body>
</html>
