{% extends 'core/base.html' %}
{% load static %}
{% block title %}
  rdg0 blog
{%endblock%}
{% block content %}
<div class="container is-desktop">
  <div class="content">
  {% comment %} <div class="content" style="max-width: 1150px;"> {% endcomment %}


    <h1>{{post.title}}</h1>
    <p>{{post.pub_date|date:'d.m.y H:i'}}</p>
    {% if post.category %}
      <a href="{% url 'blog:by_category' post.category.slug %}">{{post.category}}</a>
    {% endif %} 
    <p>{{post.text|linebreaksbr}}</p>
  </div>

    <!-- Тут пробую с переопределением атрибутов в CommentForm. Если не получится, нужно не забыть там все вернуть на место-->

  <form method="post" class="post-form" style="max-width: 700px;">
    {% csrf_token %}

    {{ form.as_p }}
  <div class="block">
  </div class="block">
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </div>
  {% if comments %}
    <p class="subtitle">Комментарии:</p>
  {% else %}
    <p class="subtitle">Тут пока нет комментариев</p>
  {% endif %} 

  {% for comment in comments %}
  <article class="message" style="max-width: 700px;">
    <div class="message-body">
      <p><strong>{{comment.name}}</strong></p>
      <p class="is-size-7"> {{comment.pub_date|date:'d.m.y H:i'}}</p>
      <p>{{comment.text}}</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %} 

